/* Taille par défaut pour PC */
body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
}

/* Adaptation pour mobile */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
   
}
